:root {
  --hero-color: #ffffff;
  --header-link-color: #212121;
  --contacts-color: #757575;
  --link-color: #2196f3;
  --button-color: #212121;
  --title-color: #212121;
  --text-color: #757575;
  --name-color: #212121;
  --adress-color: #ffffff;
  --portfolio-title: #212121;
  --portfolio-text: #757575;
  --logo-color: #2196f3;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-family: Roboto, Raleway, sans-serif;
}
img {
  display: block;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
/* ----------------logo ---------------------*/
.logo-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.studio {
  color: #212121;
}
.footer-studio {
  color: #ffffff;
}
/*-------------- heder---------------- */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}
.header {
  border-bottom: 1px solid #ececec;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo-title {
  margin-right: 93px;
}
.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}
.header .container {
  display: flex;
}
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--link-color);
}
.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}
.mail:hover,
.mail:focus {
  color: var(--link-color);
}
.mail {
  margin-right: 50px;
}
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}
.tel:hover,
.tel:focus {
  color: var(--link-color);
}
.header-link.current {
  color: var(--link-color);
}
/* -----------------hero------------------ */
.hero {
  background-color: #2f303a;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  min-width: 400px;
}

.hero-title {
  margin-bottom: 30px;
  margin-top: 0;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--hero-color);
}
.hero-button {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  margin-right: 0;
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
}
.hero-button:hover {
  background-color: #2196f3;
}
.hero-button:hover {
  cursor: pointer;
}
/*  -------------about --------------*/

.about-list {
  display: flex;
  justify-content: center;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
/* .about-item{
  flex-basis: calc(((100% - 120px)/4);
} */
.about-item {
  flex-basis: 270px;
}
.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  text-align: center;
}

.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.about-list {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* --------------pictures---------------- */
.pictures-tile {
  text-align: center;
}
.pictures-img {
  flex-basis: 370px;
  align-items: center;
}
.pictures-img:not(:last-child) {
  margin-right: 30px;
}
.images {
  display: flex;
  align-items: center;
  padding-bottom: 94px;
}

.pictures-tile {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.pictures-tile {
  padding-bottom: 50px;
}

/* ---------------team------------------ */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--name-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team-title {
  padding-top: 94px;
  padding-bottom: 50px;
  text-align: center;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
  margin-bottom: 94px;
  background-color: #fff;
}
.title {
  text-align: center;
  padding-top: 30px;
}
.team-text {
  text-align: center;
  padding-top: 10px;
}

.team {
  background-color: #f5f4fa;
}
/*  ---------------footer----------------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-contacts:not(:last-child) {
  margin-bottom: 9px;
}
.footer-studio {
  color: #ffffff;
}
.footer-address {
  margin-top: 20px;
}
.footer-address {
  font-style: normal;
}
.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-color);
}
/* -----------------portfolio-------------- */
.portfolio-filtr {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
  border-radius: 0px 0px 4px 4px;
  background-color: #2196f3;
}
.button {
  display: flex;
  justify-content: center;
}
.button {
  padding: 6px 22px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:focus,
.button:hover,
.button:active {
  background-color: var(--link-color);
  color: var(--adress-color);
}
.button.current {
  background-color: var(--link-color);
  color: var(--adress-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.flex-item {
  flex-basis: calc(100% / 3 - 30px);
  margin: 15px;
}
.portfolio-list .portfolio-filtr {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  color: var(--button-color);
  background-color: #f5f4fa;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--portfolio-title);
}

.portfolio-title.visually {
  visibility: hidden;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--portfolio-text);
}
.portfolio-border {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: none;
}
